<!--Customize this page to create your own Logout Page-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="description" content="">
 <meta name="author" content="">
 <title>Confirm Log Out?</title>
 <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
 <link rel="stylesheet" th:href="@{/common.css}">
</head>
<body>
 <div class="container">
  <form class="form-signin" method="post" th:action="@{/logout}">
   <h3 class="form-signin-heading">Are you sure you want to log out?</h3>
   <input name="_csrf" type="hidden" value="796c8338-f634-47a4-b1a8-338493c05a71">
   <button class="btn btn-lg btn-primary btn-block" style="background-color: #FD5D5D;border-color: #FD5D5D;" type="submit" value="Logout">Log Out</button>
  </form>
 </div>
</body>
</html>